<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.futurebankgrupo1">

    <uses-permission android:name="Android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" /> <!-- salvar arquivos -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" /> <!-- salvar arquivos -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_android_quadrado"
        android:label="FutureBANK"
        android:roundIcon="@drawable/logo_android_redondo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FutureBankGrupo1"
        tools:targetApi="31">
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".transacoes.SenhaTransferircontaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".transacoes.CaptureQr"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme" />
        <activity
            android:name=".transacoes.SenhaPixCopiaColaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".transacoes.SenhaPixActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".recarga.SenhaRecargaActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".transacoes.TelaTransferirPixTED"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.TelaTransferirContaComprovante"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.TelaConfirmarDadosTransferirConta"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.ConsultarChavePixActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.GerenciarChavesPixActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.CadastrarChavePixActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.TelaConfirmarDadosPixCopiaCola"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recarga.RecargaComprovanteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.CobrarQrCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.TelaConfirmarDadosCobrarPix"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contas.ResgatarComprovante"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contas.AplicarComprovante"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contas.ResgatarCC"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contas.AplicarCP"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usuario.ResetarSenha"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cartoes.MeusCartoesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.PixComprovanteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.PixComprovanteCopiaCola"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recarga.RecargaCelularActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seguros.SeguroVida"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".seguros.SeguroCartaoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contas.ContaPoupanca"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contas.ContaCorrenteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contas.TiposContasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cartoes.CartaoComumActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.CobrarPix"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.PixTransferirActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.AreaPixActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usuario.Security"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usuario.AlterarDadosUsuario"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usuario.DadosUsuario"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".configuracoes.ConfiguracoesApp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fatura.FaturaCartao"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.TelaTransferirConta"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fatura.pagarfatura.ComprovanteFatura"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fatura.pagarfatura.PagarFaturaConfirmarValor"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fatura.pagarfatura.PagarFatura"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.TelaConfirmarDadosPix"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.TelaPixCopiaCola"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.TelaPagarComPix"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".transacoes.TelaPagar"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usuario.CadastroActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".usuario.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".configuracoes.TelaConfiguracoesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cartoes.AdicionarCartaoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SubSplashActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>